<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->
  
  
    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="m-0" style="color: #FF0F10;"><i class="fa fa-server me-3"  ></i><b >PRODUCT CATALOG</b></h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <!-- <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <a href="domain.html" class="nav-item nav-link">Domain</a>
                    <a href="hosting.html" class="nav-item nav-link">Hosting</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="team.html" class="dropdown-item">Our Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="comparison.html" class="dropdown-item">Comparison</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <button type="button" class="btn text-secondary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button> -->
                <!-- <div class="container">
                  <button type="button" class="btn btn-secondary py-2 px-4 ms-3" data-toggle="modal" data-target="#loginModal" routerLink="/login" >
                    Login
                  </button>  -->
                </div> 
                <!-- <a href="" class="btn btn-secondary py-2 px-4 ms-3" data-toggle="modal" data-target="#loginModal">LOGIN</a> -->
            </div>
        </nav>
  
        <div class="container-xxl py-5 bg-primary hero-header mb-5">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-6 pt-5 text-center text-lg-start">
                        <h1 class="display-4 text-white mb-4 animated slideInLeft">CONNECTING TO TECHNO WORLD</h1>
                        <p class="text-white animated slideInLeft">Access to computers and the Internet has become a basic need for education in our society..</p>
                        <!-- <h1 class="text-white mb-4 animated slideInLeft">
                            <small class="align-top fw-normal" style="font-size: 15px; line-height: 25px;">Starting:</small>
                            <span>$2.49</span>
                            <small class="align-bottom fw-normal" style="font-size: 15px; line-height: 33px;">/ Mo</small>
                        </h1> -->
                        <a href="" class="btn btn-secondary py-sm-3 px-sm-5 me-3 animated slideInLeft"data-toggle="modal" data-target="#loginModal">LOGIN</a>
                    </div>
                    <div class="col-lg-6 text-center text-lg-start">
                        <img class="img-fluid animated zoomIn" src="../assets/img/hero.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- login page -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-title text-center">
              <h4>Login</h4>
            </div>
            <div class="d-flex flex-column text-center">
              <form class="was-validated" #profrom="ngForm" >
                  <!-- <div class="col-md-6 col-lg-4 mt-lg-n5">
                      <div class="bg-light rounded" style="padding: 30px;"> -->
                          <div class="row mb-3">
                          <input type="text" class="form-control border-2 py-2 mb-2" placeholder="Name" [(ngModel)]="name" name="uname" #uname="ngModel"  required >
                           <!-- <div  class="valid-feedback">Valid.</div>
                           <div class="invalid-feedback">Please fill out this field.</div> -->
                          </div>
                          <div class="row mb-3">
                          <input type="email" class="form-control border-2 py-2 mb-2" placeholder="Email" required [(ngModel)]="email" name="uemail" #uemail="ngModel">
                          <!-- <div  class="valid-feedback">Valid.</div>
                          <div class="invalid-feedback">Please fill out this field.</div> -->
                        </div>
                          <div class="row mb-3">
                          <input type="password" class="form-control border-2 mb-2"  placeholder="Your password..."  required  [(ngModel)]="pass" name="upass" #upass="ngModel"> 
                          <!-- <div  class="valid-feedback">Valid.</div>
                          <div class="invalid-feedback">Please fill out this field.</div> -->
                        </div>
                  
                      
                        <!-- <div class="row mb-3"> -->
                          <button type="submit" class="btn btn-primary w-100 py-2"     [disabled]="profrom.form.invalid" (click)="datasubmitted(name,email,pass)"> Login</button>
                          <!-- <div   class="text-success"   *ngIf="valid" routerLink="/adminPage"><b><i class="bi bi-unlock">logged in successful</i></b></div>   -->
                          <div   class="text-success"   *ngIf="valid"><b><i class="bi bi-unlock">logged in successful</i></b></div>  
                          <div   class="text-success"   *ngIf="!valid" ><b>invalid log in</b></div>  
                          {{name}}   
                          <!-- </div> -->
                      <!-- </div> -->
                  <!-- </div> -->
                <!-- <div class="form-group">
                  <input type="email" class="form-control" id="email1"placeholder="Your email address...">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="password1" placeholder="Your password...">
                </div>
                <button type="button" class="btn btn-info btn-block btn-round">Login</button> -->
              
              
              <!-- <div class="text-center text-muted delimiter">or use a social network</div>
              <div class="d-flex justify-content-center social-buttons">
                <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="fab fa-facebook"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Linkedin">
                  <i class="fab fa-linkedin"></i>
                </button>
            </div> -->
          </form>
          </div>
        </div>
          <div class="modal-footer d-flex justify-content-center">
            <div class="signup-section">Not a member yet? <a href="#a" class="text-info"> Sign Up</a>.</div>
          </div>
      </div>
    </div>
  </div>