<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->
  
  
    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="m-0" > <i class="bi bi-wifi"></i><b style="color: #FF0F10;">PRODUCT CATALOG</b></h1>
                <!-- <img src="../assets/img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <!-- <a href="/adminPage" class="nav-item nav-link active">Home</a> -->
                    <a href="WLineexistingPlans" class="nav-item nav-link ">View Existing Plans</a>
                    <a href="addWLinePlans" class="nav-item nav-link ">Add New Plans</a>
                    <!-- <a [routerLink]="['/business']" routerLinkActive="active"  class="nav-item nav-link">Business</a> -->
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="team.html" class="dropdown-item">Our Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="comparison.html" class="dropdown-item">Comparison</a>
                        </div>
                    </div> -->
                    <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
                </div>
                <!-- <button type="button" class="btn text-secondary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
                <div class="container">
                  <button type="button" class="btn btn-secondary py-2 px-4 ms-3" data-toggle="modal" data-target="#loginModal" routerLink="/login" >
                    Login
                  </button> 
                </div>  -->
                <a href="adminPage" class="btn btn-secondary py-2 px-4 ms-3" >Back to AdminHome</a>
            </div>
        </nav>
        <div class="container-xxl py-5 bg-primary hero-header mb-5">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5 pt-5">
                    <div class="col-12 text-center text-lg-start">
                        <h1 class="display-4 text-white animated slideInLeft">WIRELINE PRODUCTS</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center justify-content-lg-start animated slideInLeft">
                                <li class="breadcrumb-item"><a class="text-white" href="adminPage">Home</a></li>
                                <li class="breadcrumb-item"><a class="text-white" href="wlinepostpaid">PostPaid</a></li>
                                <li class="breadcrumb-item"><a class="text-white active" href="wlineprepaid">PrePaid</a></li>
                            </ol>
                            <a href="" class="btn btn-secondary py-sm-3 px-sm-5 me-3 animated slideInLeft">Go To User Page...</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
  
        <!-- <div class="container-xxl py-5 bg-primary hero-header mb-5">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-6 pt-5 text-center text-lg-start">
                        <h1 class="display-4 text-white mb-4 animated slideInLeft">WIRELESS PRODUCTS</h1>
                        <p class="text-white animated slideInLeft">Our Best Plans, Our Best Prices, Our Best Network... </p>
                        <h1 class="text-white mb-4 animated slideInLeft">
                            <small class="align-top fw-normal" style="font-size: 15px; line-height: 25px;">connecting..</small>
                            <span><a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin"></i></a></span>
                            <small class="align-bottom fw-normal" style="font-size: 15px; line-height: 33px;">to world</small>
                        </h1>
                        <a href="" class="btn btn-secondary py-sm-3 px-sm-5 me-3 animated slideInLeft">Go To User Page...</a>
                    </div>
                    <div class="col-lg-6 text-center text-lg-start"> -->
                        <!-- <img class="img-fluid animated zoomIn" src="../assets/img/aicon.png" alt=""> -->
                    <!-- </div>
                </div>
            </div>
        </div> -->
    </div>
<!-- navbar ends -->
<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(29, 40, 51, 0.8);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-light p-3" placeholder="Type search keyword">
                    <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

     <!-- Pricing Start -->
     <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Our Fibre Plans</h1>
                <p class="mb-1">Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet ipsum eos ipsum clita duo sed. Sed vero sea diam erat vero elitr sit clita.</p>
            </div>
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Annual Plans</h1>
                <!-- <p class="mb-1">Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet ipsum eos ipsum clita duo sed. Sed vero sea diam erat vero elitr sit clita.</p> -->
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Subscriptions</h4>
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1">2 GB/ <strong>day Pack</strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹299<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ MONTH</small>
                            </h1>
                            <a class="btn btn-primary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity   28 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data	56 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data at high speed*	2 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice    Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS	100 SMS/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="position-relative shadow rounded border-top border-5 border-secondary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-secondary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Subscriptions</h4>
                            
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1">2 GB/  <strong>day Pack</strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹719-<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">₹240/MONTH</small>
                            </h1>
                            <a class="btn btn-secondary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity	84 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data	168 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data at high speed*	2 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice	Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS	100 SMS/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Supscriptions</h4>
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1"> 2.5 GB<strong>/day </strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹2999<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                            <a class="btn btn-primary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity 365 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data 912.5 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i> Data at high speed* 2.5 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS 100 SMS/day</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- iteration of annual Plans -->
            {{cat1}}
            <select    class="nav-link dropdown-toggle" style="width: 515px;"  data-bs-toggle="dropdown"  [(ngModel)]="cat1" name="cat1">
                <!-- <div class="dropdown-menu mb-md-4"> -->
                    <option value="" disabled >Filter category</option>
                    <option value="Prepaid Plans">Prepaid Plans</option> 
                   <option value="Annual">Annual</option> 
                    <option value="Semi-Annual ">Semi-Annual</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Monthly">Monthly</option>
                <!-- </div> -->
            <!-- </div> -->
                </select>
                <div class="container-xxl py-5">
                    <div class="container px-lg-5">
                        <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                            <h1 class="mb-3">Our Fibre Plans</h1>
                            <p class="mb-1">Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet ipsum eos ipsum clita duo sed. Sed vero sea diam erat vero elitr sit clita.</p>
                        </div>
                        <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                            <h1 class="mb-3">{{cat1}}</h1>
                            <!-- <p class="mb-1">Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet ipsum eos ipsum clita duo sed. Sed vero sea diam erat vero elitr sit clita.</p> -->
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.6s" *ngFor="let p of products | filterWlineCategory:cat1">
                        
                    <div class="row">
                        
                        <!-- <div class="col-lg-4 col-md-6 mb-4" *ngFor="let p of products | filterWlineCategory:cat1"> -->
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div class="card">
           <div class="row gy-5 gx-4">
            <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s"> -->
                <div class="position-relative shadow rounded border-top border-5 border-secondary">
                    <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-secondary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                        <i class="bi bi-phone-fill text-white"></i>
                    </div>
                    <div class="text-center border-bottom p-4 pt-5">
                        <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>POSTPAID</b></h4>
                        <h4 class="fw-bold">Supscriptions</h4>
                        <!-- <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                        <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                        <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p> -->
                        <div *ngFor="let s of p.subscription ">
                        <p class="mb-0"><b>{{s.productName}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-amazon" viewBox="0 0 16 16">
                            <path d="M10.813 11.968c.157.083.36.074.5-.05l.005.005a89.521 89.521 0 0 1 1.623-1.405c.173-.143.143-.372.006-.563l-.125-.17c-.345-.465-.673-.906-.673-1.791v-3.3l.001-.335c.008-1.265.014-2.421-.933-3.305C10.404.274 9.06 0 8.03 0 6.017 0 3.77.75 3.296 3.24c-.047.264.143.404.316.443l2.054.22c.19-.009.33-.196.366-.387.176-.857.896-1.271 1.703-1.271.435 0 .929.16 1.188.55.264.39.26.91.257 1.376v.432c-.199.022-.407.044-.621.065-1.113.114-2.397.246-3.36.67C3.873 5.91 2.94 7.08 2.94 8.798c0 2.2 1.387 3.298 3.168 3.298 1.506 0 2.328-.354 3.489-1.54l.167.246c.274.405.456.675 1.047 1.166ZM6.03 8.431C6.03 6.627 7.647 6.3 9.177 6.3v.57c.001.776.002 1.434-.396 2.133-.336.595-.87.961-1.465.961-.812 0-1.286-.619-1.286-1.533ZM.435 12.174c2.629 1.603 6.698 4.084 13.183.997.28-.116.475.078.199.431C13.538 13.96 11.312 16 7.57 16 3.832 16 .968 13.446.094 12.386c-.24-.275.036-.4.199-.299l.142.087Z"/>
                            <path d="M13.828 11.943c.567-.07 1.468-.027 1.645.204.135.176-.004.966-.233 1.533-.23.563-.572.961-.762 1.115-.191.154-.333.094-.23-.137.105-.23.684-1.663.455-1.963-.213-.278-1.177-.177-1.625-.13l-.09.009c-.095.008-.172.017-.233.024-.193.021-.245.027-.274-.032-.074-.209.779-.556 1.347-.623Z"/>
                          </svg></b></p>
                        <!-- <p class="mb-0"><b>Netflix(Mobile) <i class="bi bi-netfilx"></i></b></p> -->
                    </div>
                    </div>
                    <div class="text-center border-bottom p-4">
                        <p class="text-primary mb-1">VALIDITY/{{p.planValidity}}-<strong>BENEFITS/{{p.data}}</strong></p>
                        <h1 class="mb-3">
                            <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹{{p.planValue}}<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;"></small>
                        </h1>
                        <!-- <a class="btn btn-secondary px-4 py-2" href="">Buy Now</a> -->
                        <a class="btn btn-primary px-4 py-2" href="">Edit Now</a><br><br>
                        <a class="btn btn-secondary px-4 py-2" href="">delete Now</a>
                    </div>
                    <div class="p-4">
                        <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Plan Rental ₹{{p.planValue}}</p>
                        <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Plan validity {{p.planValidity}}</p>
                        <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data {{p.data}}</p>
                        <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Speed {{p.speed}}</p>
                        <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice {{p.voice}}</p>
                        <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Add on Benifits{{p.otherFeatures}}</p>
                        <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>Payment type{{p.category}}</p>
                    </div>
                </div>
                <!-- </div> -->
                </div>
                </div>
                </div>
            </div>
            </div>
            </div>
            </div>

              


              <!-- end of iteration of annual Plans -->
            <hr><hr>
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Semi-Annual Plans</h1>
                <!-- <p class="mb-1">Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet ipsum eos ipsum clita duo sed. Sed vero sea diam erat vero elitr sit clita.</p> -->
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Subscriptions</h4>
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1">2 GB/ <strong>day Pack</strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹299<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ MONTH</small>
                            </h1>
                            <a class="btn btn-primary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity   28 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data	56 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data at high speed*	2 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice    Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS	100 SMS/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="position-relative shadow rounded border-top border-5 border-secondary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-secondary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Subscriptions</h4>
                            
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1">2 GB/  <strong>day Pack</strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹719-<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">₹240/MONTH</small>
                            </h1>
                            <a class="btn btn-secondary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity	84 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data	168 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data at high speed*	2 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice	Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS	100 SMS/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Supscriptions</h4>
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1"> 2.5 GB<strong>/day </strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹2999<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                            <a class="btn btn-primary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity 365 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data 912.5 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i> Data at high speed* 2.5 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS 100 SMS/day</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr><hr>
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Quarterly Plans</h1>
                <!-- <p class="mb-1">Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet ipsum eos ipsum clita duo sed. Sed vero sea diam erat vero elitr sit clita.</p> -->
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Subscriptions</h4>
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1">2 GB/ <strong>day Pack</strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹299<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ MONTH</small>
                            </h1>
                            <a class="btn btn-primary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity   28 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data	56 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data at high speed*	2 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice    Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS	100 SMS/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="position-relative shadow rounded border-top border-5 border-secondary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-secondary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Subscriptions</h4>
                            
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1">2 GB/  <strong>day Pack</strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹719-<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">₹240/MONTH</small>
                            </h1>
                            <a class="btn btn-secondary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity	84 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data	168 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data at high speed*	2 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice	Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS	100 SMS/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Supscriptions</h4>
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1"> 2.5 GB<strong>/day </strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹2999<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                            <a class="btn btn-primary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity 365 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data 912.5 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i> Data at high speed* 2.5 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS 100 SMS/day</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr><hr>
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Monthly Plans</h1>
                <!-- <p class="mb-1">Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet ipsum eos ipsum clita duo sed. Sed vero sea diam erat vero elitr sit clita.</p> -->
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Subscriptions</h4>
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1">2 GB/ <strong>day Pack</strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹299<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ MONTH</small>
                            </h1>
                            <a class="btn btn-primary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity   28 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data	56 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data at high speed*	2 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice    Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS	100 SMS/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="position-relative shadow rounded border-top border-5 border-secondary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-secondary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Subscriptions</h4>
                            
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1">2 GB/  <strong>day Pack</strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹719-<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">₹240/MONTH</small>
                            </h1>
                            <a class="btn btn-secondary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity	84 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data	168 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data at high speed*	2 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice	Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS	100 SMS/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="bi bi-phone-fill text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>PREPAID</b></h4>
                            <h4 class="fw-bold">Supscriptions</h4>
                            <p class="mb-0"><b>JioTV <i class="bi bi-tv-fill"></i></b></p>
                            <p class="mb-0"><b>JioCloud <i class="bi bi-cloud-fill"></i></b></p>
                            <p class="mb-0"><b>JioCinema <i class="bi bi-film"></i></b></p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <p class="text-primary mb-1"> 2.5 GB<strong>/day </strong></p>
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small>₹2999<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                            <a class="btn btn-primary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity 365 days</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data 912.5 GB</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i> Data at high speed* 2.5 GB/day</p>
                            <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice Unlimited</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS 100 SMS/day</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr><hr>
        </div>
    </div>
    
    <!-- Pricing End -->


    <!-- Footer Start -->
  <div class="container-fluid bg-primary text-white footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-5 px-lg-5">
          <div class="row gy-5 gx-4 pt-5">
              <div class="col-12">
                  <h5 class="fw-bold text-white mb-4">Subscribe Our Newsletter</h5>
                  <div class="position-relative" style="max-width: 400px;">
                      <input class="form-control bg-white border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                      <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                  </div>
              </div>
              <div class="col-lg-5 col-md-12">
                  <div class="row gy-5 g-4">
                      <div class="col-md-6">
                          <h5 class="fw-bold text-white mb-4">About Us</h5>
                          <a class="btn btn-link" href="">About Us</a>
                          <a class="btn btn-link" href="">Contact Us</a>
                          <a class="btn btn-link" href="">Privacy Policy</a>
                          <a class="btn btn-link" href="">Terms & Condition</a>
                          <a class="btn btn-link" href="">Support</a>
                      </div>
                      <div class="col-md-6">
                          <h5 class="fw-bold text-white mb-4">Our Services</h5>
                          <a class="btn btn-link" href="">Domain Register</a>
                          <a class="btn btn-link" href="">Shared Hosting</a>
                          <a class="btn btn-link" href="">VPS Hosting</a>
                          <a class="btn btn-link" href="">Dedicated Hosting</a>
                          <a class="btn btn-link" href="">Reseller Hosting</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <h5 class="fw-bold text-white mb-4">Get In Touch</h5>
                  <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                  <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                  <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                  <div class="d-flex pt-2">
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 mt-lg-n5">
                  <div class="bg-light rounded" style="padding: 30px;">
                      <input type="text" class="form-control border-0 py-2 mb-2" placeholder="Name">
                      <input type="email" class="form-control border-0 py-2 mb-2" placeholder="Email">
                      <textarea class="form-control border-0 mb-2" rows="2" placeholder="Message"></textarea>
                      <button class="btn btn-primary w-100 py-2">Send Message</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="container px-lg-5">
          <div class="copyright">
              <div class="row">
                  <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                      &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved. 
        
        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                  </div>
                  <div class="col-md-6 text-center text-md-end">
                      <div class="footer-menu">
                          <a href="">Home</a>
                          <a href="">Cookies</a>
                          <a href="">Help</a>
                          <a href="">FQAs</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
   <!-- Back to Top -->
   <a href="WLessexistingPlans" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
  

  <!-- <router-outlet></router-outlet> -->
