/* .container{
    display: flex;
  overflow-x: auto;
}

.card {
    flex: 0 0 auto; /* Prevent cards from growing to fill space */
    /* margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff; */
    /* min-width: 200px;
     Adjust as needed
  }
  
  */
   
   /* .card-container {
    display: flex;
    flex-wrap: nowrap; 
    
     overflow-x: auto; 
      
} 

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
} */
/* p{
  text-align: left;
} */